h1{
    color: crimson;
    border-bottom: solid 3px ;
    border-top: solid 3px;
    display: inline;
    font-size: 3vw;
}
.container{
    margin-top: 20px;
    text-align: center;
}
nav{
    width: 100%;
    height: auto;
    border-bottom: solid 1px grey;
}
.contain{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    text-align: right;
}